* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#AddTask {
    width: 500px;
    input {padding-left: 10px;}
    display: flex;
    justify-content: space-between;
}
#Tasks {
    width: 500px;
    .task-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}